################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CaseManifoldController/DesignTimeBuild
/.vs
/src/CaseManifoldController.Main/obj
