################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CaseManifoldController/bin/
/CaseManifoldController/obj
/CaseManifoldController/Properties/launchSettings.json
